@import url("animation.css");

:root
{
    --main-bg: #21F700;
    --animation-dur: 5s;
    --wrap-width: 500px;
}

html, body
{
    margin: 0;
    padding: 0;
    background: var(--main-bg);
}

main
{
    position: fixed;
}

.f-center
{
    display: flex;
    justify-content: center;
}

.wrapper
{
    width: var(--wrap-width);
    margin-top: 90px;
}

.default-anim
{
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#chiki
{
    position: relative;
}

#chiki .r-wing
{
    transform-origin: 40% 65%;
    animation-name: keyRWingAnim;
    animation-duration: var(--animation-dur);
}

#chiki .l-wing
{
    z-index: -1;
    transform-origin: 80% 70%;
    animation-name: keyLWingAnim;
    animation-duration: var(--animation-dur);
}

#chiki .eyes
{
    animation-name: keyEyesNormalAnim;
    animation-duration: var(--animation-dur);
}

#chiki .eyes-blink
{
    opacity: 0;
    animation-name: keyEyesBlinkAnim;
    animation-duration: var(--animation-dur);
}

#chiki .beak
{
    transform-origin: 62% 49%;
}

#chiki .beak-up
{
    animation-name: keyBeakUpAnim;
    animation-duration: var(--animation-dur);
}

#chiki .beak-down
{
    animation-name: keyBeakDownAnim;
    animation-duration: var(--animation-dur);
}


#chiki .body img
{
    max-width: 100%;
}

.repos-part
{
    position: absolute;
    top: 0;
    left: 0;
}

.repos-part img
{
    width: 100%;
}

.anim-main
{
    animation-name: keyAnimMain;
    animation-duration: var(--animation-dur);
}